@model Cart
@using ShopStore.Services.Data.Models
@{
    ViewData["Title"] = "Index";
    decimal totalSum = 0;
}

<h1>Your Cart</h1>

<table class="table table-sm">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
    </tr>
    @if (Model.Collection != null)
    {
        @foreach (var cartLine in Model.Collection)
        {
            ProductDTO product = cartLine.Product;
            <tr>
                <td>
                    @if (product.Image.Length != 0)
                    {
                        <img style='height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(product.Image))" />
                    }
                    else
                    {
                        @:No image
                    }
                </td>
                <td>@product.Name</td>
                <td>@cartLine.Quantity</td>
                <td>$ @product.Price</td>
                <td><a asp-action="RemoveProduct" asp-route-productId="@product.Id">Remove From Cart</a></td>
            </tr>
            totalSum += product.Price;
        }
    }
    else
    {
        <tr><td colspan="6">No Products</td></tr>
    }
    <tr>
        <td colspan="3"><b>Total Sum:</b></td>
        <td>$ @totalSum</td>
        <td></td>
        <td>
            <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Order" asp-action="MakeOrder">To Order</a>
        </td>
    </tr>
</table>
